:root {
  --pink: #f7eeec;
  --yellow: #dba82a;
  --red: #b54239;
  --green: #213f23;
  --black: #0c130e;

  // neutrals
  --color-white: var(--pink);
  --color-grey-light: var(--pink);
  --color-grey-light-2: var(--pink);
  --color-grey: rgb(136, 136, 136);
  --color-grey-dark: black;
  --color-grey-dark-2: var(--black);
  --color-black: var(--black);

  // palette
  --color-primary: var(--yellow);
  --color-secondary: var(--green);
  --color-tertiary: var(--red);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  word-wrap: break-word;
}

html {
  font-size: 50%;

  @include respond(tab-port) {
    font-size: 52.5%;
  }
  @include respond(tab-land) {
    font-size: 55%;
  }
  @include respond(desktop) {
    font-size: 57.5%;
  }
  @include respond(big-desktop) {
    font-size: 60%;
  }
}

body {
  box-sizing: border-box;
  background-color: $color-grey-light;
}
