// COLORS
// ========================

// Brand
$pink: #f7eeec;
$yellow: #dba82a;
$red: #b54239;
$green: #213f23;
$black: #0c130e;

// neutrals
$color-white: $pink;
$color-grey-light: $pink;
$color-grey-light-2: $pink;
$color-grey: rgb(136, 136, 136);
$color-grey-dark: black;
$color-grey-dark-2: $black;
$color-black: $black;

// palette
$color-primary: $green;
$color-secondary: $yellow;
$color-tertiary: $red;

$color-edit: $color-secondary;
$color-warning: $color-secondary;
$color-notice: $color-secondary;

$color-delete: $color-tertiary;
$color-error: $color-tertiary;
$color-cta: $color-tertiary;

// FONT
$default-font-size: 1.6rem;

// COMMON STYLES
$shadow-high: 0 0.6rem 1.8rem rgba($color-black, 0.4);
$shadow-low: 0 0.3rem 0.9rem rgba($color-black, 0.6);
$max-section-width: 130rem;
$max-text-width: 73rem;
$gap-width: 2.3rem;
